{% extends 'base.html' %}

{% block title %}Edit Profile - UCL Yellow Pages{% endblock %}

{% block content %}
<div class="form-container">
    <div class="general-form">
        <h2>Edit Your Profile</h2>
        <form method="post">
            {% csrf_token %}

            <label for="{{ form.name.id_for_label }}">Name</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="alert alert-warning">
                    {{ form.name.errors }}
                </div>
            {% endif %}

            <label for="{{ form.whatsapp.id_for_label }}">WhatsApp</label>
            {{ form.whatsapp }}
            {% if form.whatsapp.errors %}
                <div class="alert alert-warning">
                    {{ form.whatsapp.errors }}
                </div>
            {% endif %}

            <label for="{{ form.instagram.id_for_label }}">Instagram</label>
            {{ form.instagram }}
            {% if form.instagram.errors %}
                <div class="alert alert-warning">
                    {{ form.instagram.errors }}
                </div>
            {% endif %}

            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="alert alert-warning">
                    {{ form.email.errors }}
                </div>
            {% endif %}

            <label for="{{ form.profile_visibility.id_for_label }}">Profile Visibility</label>
            {{ form.profile_visibility }}
            {% if form.profile_visibility.errors %}
                <div class="alert alert-warning">
                    {{ form.profile_visibility.errors }}
                </div>
            {% endif %}
            
            <div class="form-group">
                {{ form.track_profile_views }}
                <label for="{{ form.track_profile_views.id_for_label }}">Track Profile Views</label>
                {% if form.track_profile_views.errors %}
                    <div class="alert alert-warning">
                        {{ form.track_profile_views.errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="button">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}