{% extends 'base.html' %}

{% block title %}Register - UCL Yellow Pages{% endblock %}

{% block content %}
<div class="form-container">
    <div class="general-form">
        <h2>Register with your UCL account!</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Register</button>
            <div class="general-link">
                <p class="mb-0">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
            </div>
        </form>
    </div>
</div>

<style>

</style>
{% endblock %}
